.profile__edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    background: inherit;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    background-image: url(../../../images/pencil.svg);
    background-repeat: no-repeat;
    background-position: center center;
    }

.profile__edit-button:hover {
    border: 1px solid #999999;
    background-image: url(../../../images/pencil-hover.svg);
}