.profile__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: inherit;
    border: 2px solid #FFFFFF;
    width: 282px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.profile__add-button:hover {
    border: 2px solid #999999;
    background-image: url(../../../images/plus-hover.svg);
}