.popup-container__close-icon {
    width: 20px;
    height: 20px;
    background: inherit;
    cursor: pointer;
    border: none;
    background-image: url(../../../images/close-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -36px;
    right: 0;
}

.popup-container__close-icon:hover {
    background-image: url(../../../images/close-icon-hover.svg);
}

@media screen and (min-width: 1024px) {
    .popup-container__close-icon {
        top: -32px;
        right: -32px;
        width: 32px;
        height: 32px;
    }
}